@using Futuristic.ViewModels
@{

    ViewData["Title"] = "Home Page";
}

@{
    var isAuthorized = User.IsInRole("Administrator") || User.IsInRole("Editor") || User.IsInRole("Uploader");

    NewsArticle? currentArticle = null;

    NewsArticle? previousArticle = null;

    NewsArticle? morePreviousArticle = null;

    if (Model.NewsArticles.Count > 0)
    {
        currentArticle = Model.NewsArticles.Last();
    }

    if (Model.NewsArticles.Count > 1)
    {
        previousArticle = Model.NewsArticles[Model.NewsArticles.Count - 2];
    }

    if (Model.NewsArticles.Count > 2)
    {
        morePreviousArticle = Model.NewsArticles[Model.NewsArticles.Count - 3];
    }
 
}

@model IndexPageViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Website</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .content {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .main {
            flex: 1;
        }

        .card-buttons {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
    </style>
</head>
<body>
    <div class="content">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">NewsToday</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!-- Removed Razor code -->
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <div class="main container mt-4">
            @if (isAuthorized)
            {
                <div class="card-buttons mb-3">
                    <a href="../Uploader/Upload" id="add-article-btn" class="btn btn-success">Add Article</a>
                </div>
            }
            <div id="articles-container" class="row">
                <div class="col-md-8">
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://via.placeholder.com/800x400" alt="Featured News">
                        <div class="card-body">
                            <h5 class="card-title"><h5>
                            @if(currentArticle != null)
                            {
                               <h5 class="card-title">@Model.NewsArticles.Last().Title</h5>
                               <p class="card-text">@Model.NewsArticles.Last().Description</p>
                            }
                            else
                            {
                               <h5 class="card-title">There is no last Title</h5>
                               <p class="card-text">There is no description.</p>
                            }
                                <a href="#" class="btn btn-primary">Read More</a>
                            @if (isAuthorized)
                            {
                                <form action="/Delete/DeleteArticle" method="get">
                                <input type="hidden" name="articleId" value="@Model.NewsArticles.Last()" />
                                <input type="hidden" name="userName" value="@User.Identity.Name" />
                                <button class="btn btn-danger delete-article-btn">Delete Article</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://via.placeholder.com/400x200" alt="Secondary News">
                        <div class="card-body">
                            @if(previousArticle != null)
                            {
                                <h5 class="card-title">@Model.NewsArticles[Model.NewsArticles.Count-2].Title</h5>
                                <p class="card-text">@Model.NewsArticles[Model.NewsArticles.Count - 2].Description</p>
                            }
                            else
                            {
                                <h5 class="card-title">There is no previous News Article</h5>
                                <p class="card-text">There is no description</p>

                            }
                            <a href="#" class="btn btn-primary">Read More</a>
                            @if (isAuthorized)
                            {
                                <button class="btn btn-danger delete-article-btn">Delete Article</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://via.placeholder.com/400x200" alt="Secondary News">
                        <div class="card-body">
                            @if(morePreviousArticle != null)
                            {
                                <h5 class="card-title">@Model.NewsArticles[Model.NewsArticles.Count - 3].Title</h5>
                                <p class="card-text">@Model.NewsArticles[Model.NewsArticles.Count - 3].Description</p>
                            }
                            else
                            {
                                <h5 class="card-title">There is no more previous News Article</h5>
                                <p class="card-text">There is no description</p>
                            }
                            <a href="#" class="btn btn-primary">Read More</a>
                            @if (isAuthorized)
                            {
                                <button class="btn btn-danger delete-article-btn">Delete Article</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>





